NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
ZEROX_API_KEY=
BASE_DEV_API_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
BASE_BUILDER_CODE=
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_key
